@model CatViewModel
<h1> Fluffy Duffy Munchkin Cats </h1
<hr />
<hr />
<h1>Add Cat</h1>
<br />
<hr />
<form method="post" class="form-group col-md-6">
    <div>
        <label> Cat Name </label>
        <input class="form-control" type="text" name="Name" placeholder="Enter Cat Name" /><br /><br />
        </div>
        <div>
        <label>Cat Age  </label>
            <input class="form-control" type="text" name="Age" placeholder="Enter Cat Age" /> <br /> <br />
        </div>
        <div>
            <label>Cat Breed</label>
            <input class="form-control" type="text" name="Breed" placeholder="Enter Cat Breed"/> <br /> <br />
        </div>
        <div>
         <label>Image Url</label>
        <input class="form-control" type="text" name="ImgUrl" placeholder="Enter Image Url"/> <br /> <br />
        <input class="btn btn-primary" type="submit" value="Add Cat" />
    </div>
</form>

