@model CatViewModel
<h1> Cat Information</h1>
<hr />

<p ><b>Cat Name: @Model.Name</b> </p>
<p><b>Cat Age: @Model.Age</b></p>
<p><b>Cat Breed: @Model.Breed</b></p>
<p><b>Cat Image: <img src="@Model.ImgUrl" width="50%"</b> /></p>